body{
    background-color: #96C570;
}
#cvbackground{
    background-color: #FFFFFF;
    position: absolute;
    margin: 0px;
    top: 0px;
    height: 42%;
    width: 100%;
    z-index: -1;
}
#row1{
    border: 1px, solid, black;
    width: 100%;
}
#row2{
    border: 1px, solid, black;
    width: 100%;
}
#row3{
    border: 1px, solid, black;
    width: 100%;
    justify-content: space-between;
}
#row4{
    border: 1px, solid, black;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: x-small;
    }
    i {
        font-size: xx-small;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: x-small;
    }
    i {
        font-size: xx-small;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: small;
    }
    i {
        font-size: x-small;
    }
}
@media only screen and (min-width: 992px) {
    body {
        font-size: medium;
    }
    i {
        font-size: small;
    }
}
ol{
    align-self: flex-end;
    list-style-type: none;
}
.btn{
    background: none;
    border-style: none;
    animation-iteration-count: 0;
}
.card{
    background: none;
    border-style: none;
    width: 100%;
}
.bi-caret-down-fill{
    color: black;
}
p{
    margin: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}