body{
    background-color: #96C570;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: x-small;
    }
    img {
        height: 10rem;
        top: 4%;
        left: 30%;
    }
    i {
        font-size: xx-small;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: x-small;
    }
    img {
        height: 10rem;
        top: 4%;
        left: 30%;
    }
    i {
        font-size: xx-small;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: small;
    }
    img {
        height: 15rem;
        top: 17%;
        left: 40%;
    }
    i {
        font-size: x-small;
    }
}
@media only screen and (min-width: 992px) {
    body {
        font-size: medium;
    }
    img {
        height: 20rem;
        top: 8%;
        left: 39%;
    }
    i {
        font-size: small;
    }
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 18rem;
}
header ol{
    align-self: flex-end;
    list-style-type: none;
}
#cvbackground{
    height: 8rem;
    display: flex;
    justify-content: center;
}
#cvcontent{
    display: flex;
    justify-content: space-around;}
.btn{
    background: none;
    border-style: none;
    animation-iteration-count: 0;
}
.card{
    background: none;
    border-style: none;
    width: 100%;
}
.bi-caret-down-fill{
    color: black;
}
p{
    margin: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    position: absolute;
    width: auto;
    background-color: #B3E2A8;
    border-radius: 50%;
    padding: 0.8%;
}